.choices {
    position: relative;
}

.choices__input {
    font-family: 'Poppins';
    width: 80% !important;
    border: 2px solid rgb(98, 136, 100);
    border-radius: 2px;
    padding: 5px;
    font-size: 0.9em;
    outline: none;
}

.choices__list--dropdown {
    width: 80%;
    font-size: .9em;

    max-height: 100px;
    overflow-y: auto;
    background-color: rgb(248, 248, 248);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

    position: absolute;
}

.choices__list--dropdown[aria-expanded=false] {
    display: none;
}

.choices__list--dropdown::-webkit-scrollbar {
    display: none;
}

.choices__item--choice {
    padding: 10px;
    font-size: .8em !important;

    cursor: pointer;
}

.choices__item--choice:hover {
    background-color: rgba(161, 211, 161, 0.25);
}

.choices__item--choice:nth-of-type(odd) {
    font-size: .9em;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.choices__list--multiple {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    margin-bottom: 10px;
}

.choices__list--multiple .choices__item {
    font-family: 'Amatic SC';
    font-weight: 700;
    padding: 5px;
    border-radius: 8px;

    background-color: rgb(116, 179, 116);
    color: white;
}
